@media screen and (min-width: 960px)
{
	.Normal .Info {
		position: fixed;
		width: calc(50% - 400px);
		height: 100%;
		max-height: 100%;
	}

	.Info .Content {
		padding: 40px;
		display: block;
		text-align: center;
	}

	.Main {
		position: static;
		background: #EEE2DC;
		width: calc(50% + 400px);
		height: 100%;
		float: right;
	}

	.Main .Content {
		width: 100%;
		padding: 40px;
		background: #EEE2DC;
	}
}

.Title {
	width: 100%;
	height: 100%;
	display: block;
}

.Title .Label {
	transition: color 0.15s, font-size 0.25s;
	color: #EEE2DC;
	font-size: 4em;
}

.Info {
    width: 100%;
    height: 12vw;
    max-height: 70px;
    background: #123C69;
    float: left;
    overflow: hidden;
	font-weight: 700;
}

.Info .Content {
	padding: 40px;
	display: block;
	text-align: center;
	overflow: hidden;
}

.Buttons {
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10%;
	padding-right: 10%;
}

.Label {
	transition: color 0.15s, font-size 0.25s;
	position: relative;
}

.Species:hover .Label { color: #123C69; }
.Species:hover .Fill { height: 100%; }

.Spells:hover .Label { color: #123C69; }
.Spells:hover .Fill { height: 100%; }

.Characters:hover .Label { color: #123C69; }
.Characters:hover .Fill { height: 100%; }

.Lore:hover .Label { color: #123C69; }
.Lore:hover .Fill { height: 100%; }


.Info .Species .Fill { background: #a6e2eb; }
.Info .Spells .Fill { background: #FFE400; }
.Info .Characters .Fill { background: #FF652F; }
.Info .Lore .Fill { background: #14A76C; }

.Fill {
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    transition: height 0.15s;
	display: block;
	position: absolute;
}

.Species{
	color: #a6e2eb;
	transition: color 0.15s, font-size 0.25s;
	padding: 10px;
	height: 100%;
	display: block;
	position: relative;
}

.Spells{
	color: #FFE400;
	transition: color 0.15s, font-size 0.25s;
	padding: 10px;
	height: 100%;
	display: block;
	position: relative;
}


.Characters{
	color: #FF652F;
	transition: color 0.15s, font-size 0.25s;
	padding: 10px;
	height: 100%;
	display: block;
	position: relative;
}

.Lore{
	color: #14A76C;
	transition: color 0.15s, font-size 0.25s;
	padding: 10px;
	height: 100%;
	display: block;
	position: relative;
}
