@media (min-width: 960px)
{
	.Normal .Info {
		position: fixed;
		width: calc(50% - 400px);
		height: 100%;
		max-height: 100%;
		background: #123C69;
		overflow: hidden;
		font-weight: 700;
	}

	.Info .Content {
		padding-top: 40px;
		text-align: center;
	}

	.Main {
		position: static;
		background: #EEE2DC;
		width: calc(50% + 400px);
		float: right;
		height: 100%;
	}

	.Title { display: inline-block; }

	.Title .Label {
		color: #EEE2DC;
		font-size: 4em !important;
	}

	.Buttons {
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
	}

	.Button {
		padding: 10px;
		display: block;
		position: relative;
		box-sizing: border-box;
		white-space: nowrap;
	}

	.Button .Label {
		display: inline-block;
		vertical-align: middle;
	}

	.Button img {
		vertical-align: middle;
	}

	.Button .Fill { display: inherit !important; }

	.Species:hover .Label { color: #123C69; }
	.Species:hover .Fill { height: 100%; }

	.Spells:hover .Label { color: #123C69; }
	.Spells:hover .Fill { height: 100%; }

	.Characters:hover .Label { color: #123C69; }
	.Characters:hover .Fill { height: 100%; }

	.Lore:hover .Label { color: #123C69; }
	.Lore:hover .Fill { height: 100%; }

	.Info .Species .Fill { background: #a6e2eb; }
	.Info .Spells .Fill { background: #FFE400; }
	.Info .Characters .Fill { background: #FF652F; }
	.Info .Lore .Fill { background: #14A76C; }
}

@media (max-width: 960px)
{
	.Title {
		display: inline-block;
		height: 40px;
		top: calc(50% - 30px);
		position: relative;
		margin-right: 16px;
	}

	.Title .Label {
		color: #EEE2DC;
		font-size: 2em;
	}

	.Info {
		width: 100%;
		height: 40px;
		max-height: 70px;
		background: #123C69;
		overflow: hidden;
		font-weight: 700;
	}

	.Info .Content {
		display: block;
		overflow: hidden;
		margin-left: 6px;
		height: 40px;
	}

	.Buttons {

		display: inline-block;
		height: 40px;
	}

	.Button {
		height: 40px;
		position: relative;
		box-sizing: border-box;
		white-space: nowrap;
		display: inline-block;
		margin-right: 8px;
		width: 40px;
	}

	.Button .Label { display: none; }
	.Button .Fill { display: none; }
}

.Main .Content {
	margin: 16px;
	background: #EEE2DC;
}

.Fill {
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    transition: height 0.15s;
	display: block;
	position: absolute;
}

.Species{ color: #a6e2eb; }

.Spells{ color: #FFE400; }

.Characters{ color: #FF652F; }

.Lore{ color: #14A76C; }

.Label {
	z-index: 10;
	position: relative;
	transition: color 0.15s;
}

.Button img {
	position: relative;
	height: 40px;
	display: inline;
}

.Buttons { display: inline-block; }

.Link:hover, Link:active, Link:focus {
	color: #f3b333;
}

.Link {
	color: #AC3B61;
	font-weight: 700;
}

.ToC {
	display: table;
	padding: 7px;
	border: 1px solid #BAB5B2;
	background-color: #e8d7cf;
}

.ToC ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}
.ToC ul ul { margin: 0 0 0 2em; }
.ToCNumber {
	color: #123C69;
	text-decoration: none;
	padding-right: 0.5em;
}
.ToCText {
	color: #123C69;
	text-decoration: none;
}
.ToCHeader {
	text-align: center;
	color: #123C69;
	font-weight: 700;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  color: #AC3B61;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
	font-family: Montserrat;
	font-size: large;
	font-weight: 700;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.Element { border: none; }
