body {
	background: #EEE2DC;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Lato';
}

h1 {
	color: #AC3B61; 
	font-size: 1.8em;
	border-bottom: 1px solid #BAB5B2;
}

h2 {
	color: #AC3B61;
	font-size: 1.5em;
	border-bottom: 1px solid #BAB5B2;
}

h5 { color: #123C69; }

p {
	color: #123C69;
	font-size: 100%;
}

ul { color: #123C69; }

a { text-decoration: none; }